{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Alistamento Jovem</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="{% static 'css/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href=" {% static 'css/grayscale.min.css' %} " rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="">ALISTAMENTO JOVEM</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Por que devo me alistar?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Ações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">RECRUTAMENTO</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Você jovem, que está disposto a mudar de vida, e deseja fazer parte do exército de Cristo. <br> ESTÁ CONVOCADO!</h2>
        <a href="{% url 'register'%}" class="btn btn-primary js-scroll-trigger">QUERO ME ALISTAR</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">POR QUE DEVO ME ALISTAR?</h2>
          <p class="text-white-50">Escutem! Há um barulho nos montes como o de uma grande multidão! Escutem! É uma gritaria entre os reinos, como nações formando uma imensa multidão! O Senhor dos Exércitos está reunindo um exército para a guerra. <br>
<b>Isaías 13:4</b></p>
        </div>
      </div>

    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/soldiers.jpg' %} " alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>PREPARE-SE!</h4>
            <p class="text-black-50 mb-0">O tempo está chegando! Nos dias 19 e 20 de outubro de 2019 estaremos em campo sendo treinados, aprendendo táticas para guerrear contra o inimigo </p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/bible.jpg' %} " alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">CONHECIMENTO</h4>
                <p class="mb-0 text-white-50">Neste tempo, iremos adquirir conhecimento sobre nossa principal arma e como usá-la corretamente nas nossas batalhas diárias.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/funny.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">DESCONTRAÇÃO</h4>
                <p class="mb-0 text-white-50">Teremos também momentos de diversão, com dinâmicas em grupo e diversas brincadeiras.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black" id="contato">
    <div class="col-md-10 col-lg-8 mx-auto text-center">
      <h2 class="text-white mb-5">PARA MAIS INFORMAÇÕES:</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Endereço</h4>
              <hr class="my-4">
              <div class="small text-black-50">Address Here</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">samplemail@mail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Telefone</h4>
              <hr class="my-4">
              <div class="small text-black-50">(00) 0000-0000</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#/" class="mx-2"target="_blank" >
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="mx-2" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
          </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy;  YX 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src=" {% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'jquery-easing/jquery.easing.min.js' %}" ></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/grayscale.min.js' %}" ></script>

</body>

</html>
